In [ ]:
import seaborn as sns
from IPython.display import display
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
import tensorflow
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

In [1]:
print('hello')

hello

In [2]:
titanic=sns.load_dataset('titanic')
original=pd.DataFrame(titanic)
df=original.copy()

In [3]:
display(df.head())
print()
display(df.info())
print()
display(df.describe())

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

None

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [4]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [5]:
df.drop(columns=['deck', 'alive', 'who', 'class', 'adult_male', 'embark_town', 'alone'], inplace=True)

In [6]:
df.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [7]:
df.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [10]:
import seaborn as sns
from IPython.display import display
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt

In [11]:
from sklearn.model_selection import train_test_split
X=df.drop('survived', axis=1)
y=df['survived']




X_train,X_test, y_train,y_test=train_test_split(X,y, test_size=0.2, random_state=69)

# Segrgate Columns into Categorical & Numerical
categorical_features=['sex', 'embarked']
numerical_features=['pclass', 'age', 'sibsp', 'parch', 'fare']

#Tranformer for Scaling and Imputing
numeric_transformer=Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])

# Transformer for OneHotEncoding & Imputing
categorical_transformer=Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('OneHotEncoding', OneHotEncoder())
])

# Combine Both the Transformer
preprocessor=ColumnTransformer(
    transformers=[
        ('num',numeric_transformer,numerical_features),
        ('cat',categorical_transformer, categorical_features)
    ]
)

In [13]:
# Pipeline for RandomForestClassifier

pipeline_forest = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', RandomForestClassifier())
])
pipeline_forest.fit(X_train, y_train)


# Pipeline with Logistic Regression
pipeline_log = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', LogisticRegression(solver='newton-cg',max_iter=1000, random_state=42))
])
pipeline_log.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  ['pclass', 'age', 'sibsp',
                                                   'parch', 'fare']),
                                                 ('cat',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('OneHotEncoding',
                                                                   OneHotEncoder())]),
                                                  ['sex', 'embarked'])])),
                ('classifier',
                 LogisticRegression(max_iter=1000, random_state=42,
                                    solver='newton-cg'))])

In [14]:
# Logistoc Regression  Accuracy

scores=cross_val_score(pipeline_log,X,y, cv=10)
print(scores)
scores.mean()

[0.78888889 0.79775281 0.75280899 0.80898876 0.78651685 0.76404494
 0.78651685 0.78651685 0.80898876 0.83146067]

0.7912484394506867

In [1]:
# Random Forest Classification Accuracy

cv_score=cross_val_score(pipeline_forest,X,y, cv=10)
# scores = cross_val_score(pipeline, X, y, cv=5)
print(cv_score)
cv_score.mean()

NameError: name 'cross_val_score' is not defined

In [ ]:
import tensorflow
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense
# Neural Network

In [ ]:
import tensorflow
from tensorflow import keras
# from keras import Sequential
# from keras.layers import Dense
# # Neural Network


model = Sequential()
model.add(Dense(7, activation='relu', input_dim=7))
model.add(Dense(30, activation='relu'))
model.add(Dense(1, activation='sigmoid'))  #  sigmoid for binary classification

model.summary()

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

history = model.fit(X, y, epochs=200, validation_split=0.2)

In [ ]:
y_prob = model.predict(X_test)
y_pred = (y_prob > 0.5).astype("int32")  # Convert probabilities to binary predictions

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")





# Plot training & validation accuracy values
plt.plot(history.history['accuracy'])
plt.plot(history.history['val_accuracy'])
plt.title('Model accuracy')
plt.ylabel('Accuracy')
plt.xlabel('Epoch')
plt.legend(['Train', 'Validation'], loc='upper left')
plt.show()

# Plot training & validation loss values
plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])
plt.title('Model loss')
plt.ylabel('Loss')
plt.xlabel('Epoch')
plt.legend(['Train', 'Validation'], loc='upper left')
plt.show()

In [ ]:
from sklearn.neural_network import MLPClassifier
from sklearn.pipeline import Pipeline

# Create the MLP model with two hidden layers of 100 neurons each
mlp = MLPClassifier(hidden_layer_sizes=(100, 100), activation='relu', solver='adam', random_state=1)

# Create a pipeline that first preprocesses the data then trains the model
pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                           ('classifier', mlp)])

# Fit the model on the training data
pipeline.fit(X_train, y_train)

# After fitting, the number of epochs can be accessed through `n_iter_` attribute
n_epochs = pipeline.named_steps['classifier'].n_iter_

print(f"Model score: {pipeline.score(X_test, y_test):.2f}")
print(f"The model ran for {n_epochs} epochs")