### ChurnPrediction

In [4]:
!pip install pandas
# import pandas as pd

data=pd.read_csv('Churn_Modelling.csv')
df=data.copy()

Requirement already satisfied: pandas in /Users/kavach/opt/anaconda3/lib/python3.9/site-packages (1.5.3)
Requirement already satisfied: numpy>=1.20.3 in /Users/kavach/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in /Users/kavach/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/kavach/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/kavach/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

NameError: name 'pd' is not defined

In [5]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
from IPython.display import display

display("Head:")
display(df.head())

# Display the output of each method
display("Info:")
display(df.info())

display("Describe:")
display(df.describe())

'Head:'

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

'Info:'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

None

'Describe:'

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [ ]:
def valueCount(feature):
    return df[feature].value_counts()

display(valueCount('Gender'))


display(valueCount('Geography'))

print('Exited Customer')
display(valueCount('Exited'))

df.drop(columns=['RowNumber', 'CustomerId', 'Surname'], inplace=True)

Gender
Male      5457
Female    4543
Name: count, dtype: int64

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

Exited Customer

Exited
0    7963
1    2037
Name: count, dtype: int64

In [ ]:
df=pd.get_dummies(df, columns=['Geography', 'Gender'], drop_first=False)

In [ ]:
from sklearn.model_selection import train_test_split
X=df.drop(columns=['Exited'])
y=df['Exited']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2,random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [ ]:
%conda install tensorflow

Collecting package metadata (current_repodata.json): done
Solving environment: |
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - conda-forge/noarch::ipykernel==6.26.0=pyh3cd1d5f_0
  - conda-forge/noarch::importlib_metadata==7.0.0=hd8ed1ab_0
  - conda-forge/noarch::jupyter_client==8.6.0=pyhd8ed1ab_0
failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: |
Found conflicts! Looking for incompatible packages.
This can take several minutes.  Press CTRL-C to abort.
                                                                               failed

UnsatisfiableError: The following specifications were found
to be incompatible with the existing python installation in your environment:

Specifications:

  - tensorflow -> python[version='2.7.*|3.10.*|3.9.*|3.8.*|3.11.*|3.7.*|3.6.*|3.5.*']

Your python: python=3.12

If python is on the left-most side of the chain, that's the version you've asked for.
When python appears to the right, that indicates that the thing on the left is somehow
not available for the python version you are constrained to. Note that conda will not
change your python version to a different minor version unless you explicitly specify
that.

The following specifications were found to be incompatible with your system:

  - feature:/osx-64::__osx==13.0=0
  - feature:|@/osx-64::__osx==13.0=0

Your installed version is: 13.0



Note: you may need to restart the kernel to use updated packages.

In [ ]:
import tensorflow

ModuleNotFoundError: No module named 'tensorflow'

In [2]:
%pip install reportlab

from reportlab.pdfgen import canvas

# Specify the filename
filename = "example.pdf"

# Create a canvas
c = canvas.Canvas(filename)

# Add some text
c.drawString(100, 750, "Hello, World!")

# Save the PDF file
c.showPage()
c.save()

Collecting reportlab
  Using cached reportlab-4.0.9-py3-none-any.whl (1.9 MB)
Collecting chardet
  Downloading chardet-5.2.0-py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 1.2 MB/s eta 0:00:01
Collecting pillow>=9.0.0
  Downloading pillow-10.2.0-cp310-cp310-macosx_11_0_arm64.whl (3.3 MB)
     |████████████████████████████████| 3.3 MB 2.3 MB/s eta 0:00:01
Installing collected packages: pillow, chardet, reportlab
Successfully installed chardet-5.2.0 pillow-10.2.0 reportlab-4.0.9
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.